*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-size: 16px;
}

html{
    overflow: hidden;
}

#cat-container{
    position: relative;
    background: url('./imgs/black_cat.png');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    color:white;
    text-align: center;
    background-color:black;
    animation: goToSpace;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-play-state: paused;
}

#space-container{
    position: absolute;
    top:20vh;
    left: 20vw;
    background: url('./imgs/space.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 60vw;
    height: 60vh;
    /* z-index: 9; */
    animation: spaceanim;
    /* animation-direction: */
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes spaceanim{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}
@keyframes goToSpace{
    from{
        background-color: rgba(0,0,0,1);
    }
    to{
        background-color:rgba(0,0,0,0);
    }
}